@{
    ViewBag.Name = "Home";
}

<br />
<div class="page-header" style="color: steelblue">
    <h2>Service Oriented Application</h2>
</div>
<div class="alert alert-info">
    <div class="alert-heading" style="font-size: 24px;">
        <p>
            Welcome!
        </p>
    </div>
    <div style="font-family: 'Segoe UI'; font-size: 18px;">
        <p>
            Car Rental Service
        </p>
        <p>
            Prepare to have some fun.
        </p>
        <p>
           blab bla blaaaaa aaa   balllllla balllll !
        </p>
    </div>
</div>
